<!--<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>-->

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/blogcss.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Roboto:300,regular,500", "Roboto Condensed:300,regular,700", "Roboto Slab:300,regular"]
            }
        });
    </script>



</head>